*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.galary-viev{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}
.galary{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &__item{
        width: 200px;
    }
}
.buttons-nav{
    margin: auto;
    display: flex;
    width: 200px;
    justify-content: 
}